# Node modules
node_modules/

# Build output
dist/
build/
coverage/

# Env files
.env
.env.*

# Prisma
/src/generated/prisma
/prisma/generated/
/prisma/migrations/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/
